@use '../../../variables.scss' as colors;

._avatar {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  gap: 10px;
  max-width: min-content; 
  .app_avatar {
    background: url("/src/assets/images/avatar.png");
    $avatarSize: 25px;
    width: $avatarSize;
    height: $avatarSize;
    @media screen and #{colors.$breakpoint-sm} {
      $avatarSizeMd: 35px;
      width: $avatarSizeMd;
      height: $avatarSizeMd;
    }
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
  }
  .app_name {
    // display: none;
    font-weight: 400;
    letter-spacing: 0.02em;
    // font-family: ;
    @media screen and #{colors.$breakpoint-sm} {
      font-size: 1.1em;
    }
    font-size: 1em;
    color: #63ff2f;
  }
}
