@use '../../variables.scss' as globals ;

.navigation_body {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background: #25273a;
  animation: switch_color 2000ms ease-out 0ms 1 alternate forwards;
  @keyframes switch_color {
    to {
      background: #0d0f1a;
    }
  }
  &.open {
    transform: translateY(0%);
    transition: 400ms ease-out transform;
    .navigation_options {
      &__option {
        transform: translateY(10px);
        opacity: 0;
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            animation: fade_in 400ms ease-out #{400 + ($i * 150)}ms 1 alternate forwards;
          }
        }
        @keyframes fade_in {
          to {
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }
    }
    .social_media {
      a {
        transition: 300ms ease-in-out;
        transition-property: transform;
        transform: translateY(0px) scale(1);
        opacity: 0;
        &:hover{
          transform: translateY(-3px) scale(1.3);
        }
        @keyframes drop_icon {
          to {
            opacity: 1;
          }
        }
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            animation: drop_icon 400ms ease-out #{1100 + ($i * 150)}ms 1 alternate forwards;
          }
        }
      }
    }
  }
  &.close {
    transform: translateY(-100%);
    transition: 600ms ease-out transform;
    transition-delay: 1.4s;
    .curtains {
      .curtain {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity: 1;
        @keyframes shrink_width { 
          to {
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            opacity: 0;
          }
        }
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            background: darken(#191b29, $i * 1.5);
            animation: shrink_width 400ms ease-out #{400 + ($i * 150)}ms 1 alternate forwards;
          }
        }
      }
    }
  }
  .curtains {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    .curtain {
      min-height: 100%;
      width: 100%;
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      opacity: 0;
      @keyframes expand_width {
        to { 
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          opacity: 1;
        }
      }
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          background: darken(#191b29, $i * 1.5);
          animation: expand_width 400ms ease-out #{400 + ($i * 150)}ms 1 alternate forwards;
        }
      }
    }
  }
  .navigation_container {
    max-width: 1350px;
    margin: auto;
    position: relative;
    min-height: inherit;
    z-index: 1;
  }
  .navigation_header {
    margin: auto;
    width: 90%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__exit {
      transition: ease-out 1500ms;
      transition-property: transform;
      &:hover {
        transform: rotate(720deg);
        transition: ease-in 1000ms;
      }
    }
  }
  .navigation_options {
    width: 85%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    &__option {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      $gap: 20px;
      grid-gap: $gap;
      gap: $gap;
      padding: 14px;
      cursor: pointer;
      opacity: 1;
      transition: ease-out 200ms;
      transition-property: background-color;
      background-color: transparent;
      border-radius: 5px;
      transform: translateY(0px);
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          animation: fade_out 400ms ease-out #{400 + ($i * 150)}ms 1 alternate forwards;
        }
      }
      @keyframes fade_out {
        to {
          opacity: 0;
          transform: translateY(10px);
        }
      }
      &.router-link-active, &.router-link-exact-active,
      &:hover {
        background-color: rgba($color: globals.$secondaryOrange, $alpha: 0.06);
        .navigation_options__option--name {
          transform: scale(1.1);
          color: globals.$secondaryOrange;
        }
      }
      @media screen and #{globals.$breakpoint-sm} {
        padding: 24px;
      }
      &--icon {
        background-image: url('/src/assets/images/avatar.png');
        $size: 20px;
        width: $size;
        height: $size;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        clip-path: circle();
        filter: blur(2px) sepia(1);
      }
      &--name {
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 500;
        font-size: 1em;
        transform: scale(0.9);
        transition: cubic-bezier(0,.97,.67,-0.85) 800ms;
        transition-property: transform, color;
        transform-origin: bottom left;
        @media screen and #{globals.$breakpoint-sm} {
          font-size: 1.5em;
          font-weight: 600;
        }
      }
    }
  }
  .social_media {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 80px 0px;
    $gap: 30px;
    grid-gap: $gap;
    gap: $gap;
    a {
      opacity: 1;
      @keyframes collapse_icon {
        to {
          opacity: 0;
        }
      }
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          animation: collapse_icon 400ms ease-out #{500 + ($i * 150)}ms 1 alternate forwards;
        }
      }
    }
  }
}

