@use './variables.scss' as colors;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', Avenir, Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: colors.$textGray;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#main {
  overflow: hidden;
  min-height: 100vh;
  background-color: colors.$primaryDark;
  padding-top: 52px;
  transition: 300ms ease-out;
  transition-property: filter;
  position: relative;
  &.blur_out {
    filter: blur(23px) brightness(50%) opacity(100%);
  }
  .content_wrap {
    padding-bottom: 220px;
    @media screen and #{colors.$breakpoint-sm} {
      padding-bottom: 190px;
      @media screen and #{colors.$breakpoint-md} {
        padding-bottom: 90px;
      }
    }
  }
}
