$primaryDark: #252734;
$secondaryDark: #333646;
$primaryOrange: #FF903B;
$primaryGreen: #24B262;
$secondaryOrange: #FF703A;
$buttonPink: #FF246F;
$rankOrange: #FB7E4E;
$titleGray: #828282;
$textGray: #fffdf6;
$desaturated-yellow: #FFF4BC;
$text-highlight-blue: #4778ff;
$breakpoint-sm: '(min-width: 541px)';
$breakpoint-md: '(min-width: 1024px)';
// #ff4747
